
/* FONT CSS CODE */

/*
font-family: 'Great Vibes', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Muli', sans-serif;
*/

/* GENERAL STYLE CODE */

* {
  box-sizing: border-box;
}

body {
  background: url('assets/wedding-landing-background.png') repeat;
}

.white {
color: #ffffff;
}

.black {
  color: #444349;
}

.gold{
  color: #d2ba87;
}

h1, h2, p.adress {
  text-align: center;
  color: #444349;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding: 3rem 0 2rem 0;
  letter-spacing: 0.07rem;
  
}

h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6rem;
  font-weight: 700;
}

/* HEADER STYLE CODE */


header{
  text-align: center;
  display: table;
}

.head{
  background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center / cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
}

.tagline{
  display: block;
  width: 100vw;
  height: auto;
  background-color: hsla(100,0%,0%,.6);
  display: table-cell;
  vertical-align: middle;
  padding: 1rem 0;
}

.quote, .date {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.07rem;
}

.name {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  padding-top: 1rem;
  letter-spacing: 0.07rem;
}

.white-line {
  display: inline-block;
  border-bottom: 1px solid #fff;
  width: 12em;
  align-content: center;
}

.date {
  padding-top: 1rem;
}

.date::before, .date::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0.5rem;
}


@media screen and (min-width:786px) {
  
  .quote {
    text-transform: uppercase;
    font-size: 1.3rem;
  }
  
  .date{
    font-size: 1.3rem;
  }
  
  .name {
    font-size: 4.5rem;
  }
  
  .tagline{
    display: inline-block;
    width: 27rem;
    text-align: center;
    padding 1.3rem 0;
  }
  
}


/* LOCATIONS STYLE CODE */


.locations{
  background-size: cover;
  width: 100vw;
}

.ceremony, .party, .photos {
  display: inline-block;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 0;
}

p.adress {
  font-family: 'Muli', sans-serif;;
  padding-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

img {
  width: 7.5rem;
  padding: 2.5rem 0;
}

.black-line {
  display: inline-block;
  border-bottom: 2px solid #444349;
  width: 7em;
  align-content: center;
}

@media screen and (min-width:786px) {
  
  .black-line{
    display: none;
  }
  
  .ceremony, .party, .photos {
    display: inline-block;
    width: 32%;
  }
  
}











